*{
	margin: 0px;
	padding: 0px;
	font-size: 50%;
	font-family: "宋体";
	text-decoration: none;
}

a{
	    color: #3377AA;
}

ul{
	list-style-type: none;
	
}

#top-bar{
	height: 26px;
	background-color: #545652;
}

#top-bar a{
	color: white;
}
.li_left{
	float: left;
	color: white;
	margin-left: 20px;
	margin-top: 5px;
}


.li_right{
	float: right;
	color: white;
	margin-right: 25px;
	margin-top: 5px;
}

#movie_search{
	height: 75px;
	background-color: #F0F3F5;
	position: relative;
}

#search_content{
	margin-left: 17%;
	padding-top: 15px;
}

#search_content span{
	color: #1A88CB;
	font-size: 30px;
	font-weight: bold;
	font-family: "黑体";
	vertical-align: middle;
	
}

#search_box{
	background: url(../img/nav_mv_bg.png) no-repeat 0px 0px;
	height: 34px;
	width: 490px;
	margin-left: 20px;
	display: inline-block;
	
}

#search_font{
	color: #BBBBBB;
	font-size: 6px;
	font-family: "宋体";
	font-weight: initial;
	display: block;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}

#search_button{
	background: url(../img/nav_mv_bg.png) no-repeat 0px -40px;
	height: 34px;
	width: 40px;
	display: inline-block;
	margin-left: -10px;

}
#category{
	height: 40px;
	background-color: #F0F3F5;
	border-top: 1px #E3EBEC solid;
	padding-left: 14%;
	padding-top: 15px;
}


#category li{
	margin-left: 40px;
	float: left;
	
}

#category a{
	color: #2277AA;
}

#main{

	padding-left: 17%;
	padding-right: 18%;
	position: relative;
}

#introduce{
	width: 60%;
	
	float: left;
	padding-bottom: 35px;
}

#introduce img{
	float: left;
}

#aa ul{
	float: left;
	margin-left: 10px;
	line-height: 150%;
}

h1{
	color: #666666;	
	font-weight: normal;
	display: inline;
}

#introduce h2{
	
	font-weight: normal;
	display: inline;
}


#film_name{
	font-size: 25px;
	font-weight: bold;
	color: #494949;
}

#year{
	font-size: 25px;
	color: #888888;
	font-weight: bold;
	margin-right: 20px;
}

#stars{
	float: right;
	
}


#bigstar{
	background: url(../img/bigstars.gif) no-repeat 0 -42px;	
	height: 14px;
	width: 75px;
	display: inline-block;
	margin-left: 10px;
}

#redwords{
	color: red;
	font-size: large;
}



#smallstars{
	float: right;
	
}

.smstar{
	background: url(../img/smlstars.gif) no-repeat;
	height: 9px;
	width: 45px;
	display: inline-block;
}

.smstar5{
	background-position: 0 0;
}

.smstar4{
	background-position: 0 -9px;
}

.smstar3{
	background-position: 0 -18px;
}

.smstar2{
	background-position: 0 -27px;
}

.smstar1{
	background-position: 0 -36px;
}

.bar{
	background: #F5CBAD repeat-x;
	height: 10px;
	display: inline-block;
}

.bar5{
	width: 50px;
}

.bar4{
	width: 48px;
}

.bar3{
	width: 56px;
}

.bar2{
	width: 16px;
}

.bar1{
	width: 26px;
}

#dd{

	margin-top: 200px;
}

.obtn{
	background: url(../img/btn.gif) no-repeat;
	display: inline-block;
	width: 49px;
	height: 22px;
	text-align: center;
	padding-top: 4px;
	margin-right: 10px;
	
}

.zero_star{
	width: 75px;
	height: 15px;
	background: url(../img/nst.gif) repeat-x;
	display: inline-block;
}

.add_review{
	height: 11px;
	width: 10px;
	background: url(../img/add-review.gif) no-repeat;
	display: inline-block;
	margin-right: 5px;
}

.short_comment{
	height: 11px;
	width: 11px;
	background: url(../img/short-comment.gif) no-repeat;
	display: inline-block;
	margin-right: 5px;
}

.review_expand{
	height: 7px;
	width: 11px;
	background: url(../img/review-expand.png) no-repeat;
	display: inline-block;
	margin-right: 5px;		
}

.recommend{
	background: #F2F8F2 ;
	width: 35px;
	height: 18px;
	border: 1px #E3F1ED solid;
	display: inline-block;
	text-align: center;
	padding-top: 4px;
	float: right;
}

.recommend a{
	color: #4F946E;
}

.second_title{
	font-size: 16px;
	color: #007722;
}

.yugaopian{
	background: url(../img/yugaopian.png) no-repeat;
	overflow: hidden;
	display: block;
	height: 102px;
	margin-top: 5px;
}

.speak{
	text-align: center;
	padding-top: 6px;
	background: #FAE9DA;
	height: 20px;
	width: 70px;
	color: #CA6445;
	float: right;
}

.short_comt{
	margin-top: 30px;	
	border-bottom: 1px #DDDDDD dotted;
	padding-bottom: 10px;
}

.short_comt1{
	padding: 10px 0px;
	border-bottom: 1px #DDDDDD dotted;
	line-height: 1.5em;
}


.short_comt1 li{
	float: right;
	margin-left: 10px;
}
.midstars{
	background: url(../img/midstars.gif) no-repeat ;
	height: 11px;
	width: 55px;
	display: inline-block;
}

.mstar5{
	background-position: 0 0;
}

.mstar4{
	background-position: 0 -22px;	
}

.review_btn{
	text-align: center;
	padding-top: 6px;
	background: #FAE9DA;
	height: 20px;
	width: 110px;
	color: #CA6445;
	float: right;
}

.gray_bar{
	background: #F0F3F5;
	height: 36px;	
	
}

.gray_bar a{
	font-size: 14px;	
	line-height: 2.5em;
}

.expand{
	height: 7px;
	width: 11px;
	background: url(../img/review-expand.png) no-repeat;
	float: right;
	margin-right: 20px;	
	margin-top: 15px;
}

#purchase{
	width: 32%;
	height: 500px;
	margin-top: 99px;
	float: right;

}

.p1{
	background: #F0F3F5 ;
	height: 90px;
	position: relative;
}

.select{
	background: #268DCD;
	width: 60%;
	height: 30%;
	margin-left: 20%;
	top: 25%;
	text-align: center;
	position: relative;
}

.select span{
	color: white;
	margin-top: 5px;
	display: inline-block;
}

.nine{
	color: #999999;
	display: inline-block;
	margin-top: 11%;
	margin-left: 35%;
}

.ad{
	background: url(../img/ad.jpg);
	margin-top: 50px;	
	height: 250px;
}

#footer{
	border-top: 1px #DDDDDD dotted;
	width: 70%;
	height: 60px;
	clear: both;
	margin-left: 17%;
	padding-top: 20px;
	position: relative;
}

#footer h1{
		position: absolute;
		top: 15px;
}

#footer li{
	float: right;
	margin-left: 10px;
	margin-top: -5px;
}

