*{
	margin: 0px;
	padding: 0px;
	font-size: 50%;
	font-family: "宋体";
	text-decoration: none;
}

a{
	    color: #3377AA;
}

ul{
	list-style-type: none;
	
}

h1{
	color: #666666;	
	font-weight: normal;
	display: inline;
}

#top-bar{
	height: 26px;
	background-color: #545652;
}

#top-bar a{
	color: white;
}
.li_left{
	float: left;
	color: white;
	margin-left: 20px;
	margin-top: 5px;
}


.li_right{
	float: right;
	color: white;
	margin-right: 25px;
	margin-top: 5px;
}

#movie_search{
	height: 75px;
	background-color: #F0F3F5;
	position: relative;
}

#search_content{
	margin-left: 17%;
	padding-top: 15px;
}

#search_content span{
	color: #1A88CB;
	font-size: 30px;
	font-weight: bold;
	font-family: "黑体";
	vertical-align: middle;
	
}

#search_box{
	background: url(../img/nav_mv_bg.png) no-repeat 0px 0px;
	height: 34px;
	width: 490px;
	margin-left: 20px;
	display: inline-block;
	
}

#search_font{
	color: #BBBBBB;
	font-size: 6px;
	font-family: "宋体";
	font-weight: initial;
	display: block;
	margin-left: 10px;
	margin-top: 8px;
	margin-bottom: 10px;
}

#search_button{
	background: url(../img/nav_mv_bg.png) no-repeat 0px -40px;
	height: 34px;
	width: 40px;
	display: inline-block;
	margin-left: -10px;

}
#category{
	height: 30px;
	background-color: #F0F3F5;
	border-top: 1px #E3EBEC solid;
	padding-left: 14%;
	padding-top: 15px;
}


#category li{
	margin-left: 40px;
	float: left;
	
}

#category a{
	color: #2277AA;
}

#main{
	width: 970px;
	margin: 40px auto;
	}

#ad{
	background: url(../img/ad1.jpg) repeat-x;
	height: 100px;
	width: 970px;
}

#left{
	width: 632px;	
	

	float: left;
	margin-top: 10px;
}

.title{
	font-size: 16px;
}

#ongoing{
	border-bottom: 2px #EAEAEA solid;	
	padding-bottom: 18px;
}

#ongoing li{
	float: right;
	margin-right: 6px;
}

#ongoing_film{
	padding-top: 20px;
}

#ongoing_film > div{
	display: inline-block;
	width: 152px;
	height: 290px;

}

#TheReef{
	position: relative;	
}

#p_TheReef{
	background: url(../img/p1.jpg) no-repeat;
	width: 142px;
	height: 200px;
}

#LOSTANDFOUND{
	position: relative;
}

#p_LOSTANDFOUND{
	background: url(../img/p2.jpg) no-repeat;
	width: 142px;
	height: 200px;	
}

#TheFrogKingdom{
	position: relative;
}

#p_TheFrogKingdom{
	background: url(../img/p3.jpg) no-repeat;
	width: 142px;
	height: 200px;	
}

#OlympusHasFallen{
	position: relative;
}

#p_OlympusHasFallen{
	background: url(../img/p4.jpg) no-repeat;
	width: 142px;
	height: 200px;	
}
.bot{
	width: 90px;
	height: 72px;
	position: absolute;
	left: 20px;
	bottom: 0px;
}

.title1{
	color: #333333;
	font-size: 16px;
	text-align: center;
}



.olm{
	position: absolute;
	bottom: 55px;
	
}

.redwords{
	color: red;
}

.buy_btn{
	background: url(../img/buyBtn.gif) no-repeat;
	height: 24px;
	width: 90px;
	margin-top: 5px;	
}

.select{
	color: white;
	line-height: 2em;
	text-align: center;	
}

.midstars{
	background: url(../img/midstars.gif) no-repeat ;
	height: 11px;
	width: 55px;
	display: inline-block;
}

.mstar2_5{
	background-position: 0 -55px;
	margin-left: 5px;
	margin-top: 5px;
}

.mstar3{
	background-position: 0 -44px;
	margin-left: 5px;
	margin-top: 5px;
}

.mstar4{
	background-position: 0 -22px;
	margin-left: 5px;
	margin-top: 5px;
}

.mstar3_5{
	background-position: 0 -33px;
	margin-left: 5px;
	margin-top: 5px;
}

#three-five{
	display: inline-block;
	margin-right: 20px;
	line-height: 1.5em;	
	float: right;
}

#switch_right{
	background: url(../img/slide_swithc_2.png) no-repeat -18px 0;
	height: 18px;
	width: 18px;
	display: inline-block;
}

#switch_left{
	background: url(../img/slide_swithc_2.png) no-repeat 0 0;
	height: 18px;
	width: 18px;
	display: inline-block;
}

#Recently_Hot{
	padding: 50px 0px 16px 0px;
	border-bottom: 1px #EBEBEB solid;
	width: 100%;
}

.hot_film > div{
	height: 212px;
	width: 120px;	
	display: inline-block;
	position: relative;
	padding-top: 20px;
}


#p_OpenGrave{
	background: url(../img/p5.jpg) no-repeat;
	height: 148px;
	width: 100px;	
}

#p_TheHobbitTheDesolationofSmaug{
	background: url(../img/p6.jpg) no-repeat;
	height: 147px;
	width: 100px;	
}

#p_AmericanHorrorStorySeason3{
	background: url(../img/p7.jpg) no-repeat;
	height: 135px;
	width: 100px;		
}

#p_AgentsofSHIELD{
	background: url(../img/p8.jpg) no-repeat;
	height: 133px;
	width: 100px;
}

#p_TheWalkingDead{
	background: url(../img/p9.jpg) no-repeat;
	height: 134px;
	width: 100px;
}

.bot1{
	height: 4em;	
	width: 100px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	line-height: 2em;
}

.juji{
	color: #666666;	
}

#right{
	width: 312px;

	float: right;
	margin-top: 10px;
}

#region{
	background: #F5F3D2;	
	height: 48px;
	position: relative;
}

#classification{
	padding-top: 20px;
	line-height: 2em;
}

#classification li{
	float: left;
	margin-left: 22px;
}


#reputation div{
	border-bottom: 1px #EBEBEB solid;
	line-height: 2em;
	height: 30px;
}

#top250 > div{
	height: 120px;
	width: 72px;
	display: inline-block;
	position: relative;
}

#p_Tekkonkinkreet{
	background: url(../img/p10.jpg);
	width: 67px;
	height: 97px;
}

#p_VforVendetta{
	background: url(../img/p11.jpg);
	width: 66px;
	height: 98px;	
}

#p_Following{
	background: url(../img/p12.jpg);
	width: 68px;
	height: 96px;
}

#p_MountainPatrol{
	background: url(../img/p13.jpg);
	width: 68px;
	height: 96px;	
}

.bot2{
	width: 68px;
	height: 1em;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

#r1{
	height: 60%;
	width: 80%;	
	position: relative;
	top: 20%;
	bottom: 20%;
	left: 5%;
}

#r2{
	background: white;
	border: 1px #DEDEDE solid;
	height: 28px;
	width: 66px;


	position: relative;
}

#a1{
	background: url(../img/a1.png);	
	width: 7px;
	height: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
}

#beijing{
	position: absolute;	
	top: 6px;
	bottom: 3px;
	left: 6px;
}

#r3{
	background: white;
	border: 1px #DEDEDE solid;
	height: 28px;
	width: 170px;
	position: relative;
	float: right;
}

#r3 h1{
	position: absolute;	
	top: 6px;
	left: 6px;
	
}

#focus_search{
	background: url(../img/focus_search.png);
	height: 12px;
	width: 13px;
	position: absolute;
	top: 8px;
	right: 10px;
}

#client{
	background: url(../img/client_bg.gif) no-repeat;
	width: 310px;
	height: 70px;	
	overflow: hidden;
}

#client > div{
	margin-left: 75px;
	margin-top: 15px;
}

#client span{
	font-size: 20px;
	color: #224D92;
	font-weight: bold;
}


.doublie >div {
		display: inline-block;
		width: 295px;
		height: 70px;
		margin-left: 0px;
		position: relative;
}

.doublie >div div{
	position: absolute;
	bottom: 0px;
	margin-left: 60px;
	display: inline-block;
}

.doublie a{
	font-size: 16px;
}
#u1{
	background: url(../img/u1.jpg) no-repeat;
	width: 48px;
	height: 48px;
	margin: 0px;	
}

#u2{
	background: url(../img/u2.jpg) no-repeat;
	width: 48px;
	height: 48px;
	margin: 0px;	
}

#u3{
	background: url(../img/u3.jpg) no-repeat;
	width: 48px;
	height: 45px;
	margin: 0px;	
}

#u4{
	background: url(../img/u4.jpg) no-repeat;
	width: 48px;
	height: 48px;
	margin: 0px;	
}

.yp{
	padding-bottom: 30px;
	padding-top: 20px;
		
}

.yp a{
	font-size: 16px;
}



.w_yp{
	margin-left: 10px;	
	display: inline-block;
}


.bod{
	border-bottom: 1px #EAEAEA solid;	
}

#footer{
	border-top: 1px #DDDDDD dotted;
	height: 40px;
	clear: both;
	position: relative;
	padding-top: 10px;
	top: 40px;
}

#footer h1{
		position: absolute;

}

#footer li{
	float: right;
	margin-left: 10px;

}