#header{
	height: 45px;
	border-bottom: 1px solid #BBBBBB;
	width: 100%;
	font-size: 20px;
	padding-top: 6px;
	background-color: #F9F9F9;
	position: relative;
}
.return-icon{
	display: inline-block;
	background: url(../img/iconBg.png) 0 -63px no-repeat;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 12px;
	top: 12px;
	background-size: 100% auto;
}

a,a:hover,a:visited{
	color: red;
	display: inline-block;
	text-decoration: underline;
}
#main{
	padding-top: 20px;
}

body{
	background-color: #F3F5F7;
}
