<% include common/top.ejs %>
<div class="data_list">
    <div class="data_list_title">
        <img src="/img/list_icon.png"/>
        日记列表
    </div>
    <div class="diary_datas">
        <ul>

            <li>『2014-02-12 10:23:55』<span>&nbsp;<a href="/main/show?diaryId=40">AAA2</a></span></li>

            <li>『2014-02-10 08:27:13』<span>&nbsp;<a href="/main/show?diaryId=38">222</a></span></li>

            <li>『2014-01-13 08:18:57』<span>&nbsp;<a href="/main/show?diaryId=37">坚持一种信仰</a></span></li>

            <li>『2014-01-13 08:05:36』<span>&nbsp;<a href="/main/show?diaryId=36">今天很开心</a></span></li>


        </ul>
    </div>
    <div class="pagination pagination-centered">
        <ul>
            <li><a href="/main/home?page=1">首页</a></li>
            <li class="disabled"><a href="#">上一页</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="/main/home?page=2">2</a></li>
            <li><a href="/main/home?page=3">3</a></li>
            <li><a href="/main/home?page=2">下一页</a></li>
            <li><a href="/main/home?page=7">尾页</a></li>
        </ul>
    </div>
</div>
</div>
<% include common/bottom.ejs %>
