*{
	outline: 0;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-decoration: none;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


a{
	color: #000000;	
}

h1{
	font-size: 18px;
}

ul{
	list-style-type: none;	
}

.main_color{
	color: #00B38A;
}
#top_bar{
	height: 30px;
	background-color: #333;
}

#top_tab{
	height: 56px;
	background-color: #FAFAFA;
	border: 1px #E5E5E5 solid;
	position: relative;
}

.lg_A{
	margin-top: 6px;
	margin-left: 50px;
	display: inline-block;
	
}

.lg_app{
	background: url(../img/app_icon_43ba565.png) no-repeat;
	padding-left: 15px;
	font-weight: bold;
}

.lg_os{
	border-left: 1px #5d5d5d solid;
	margin-left: 3px;
	padding-left: 10px;
	color: #c4c3c3;
}

.lg_B{
	margin-top: 6px;
	margin-right: 40px;
	float: right;
	display: inline-block;
}

.lg_B a{
	color: #c4c3c3;
}

#top_tab img{
	margin-left: 157px;
	margin-top: 10px;
}

.suggest_city{
	font-size: 18px;
	display: inline-block;
	position: relative;
	bottom: 5px;
	left: 4px;
}

.suggest_city span{
	cursor: pointer;	
}

.gw{
	color: #999;
}

.lw{
	font-size: 12px;
}

.tab_4{
	position: absolute;
	top: 0;
	left: 370px;
	height: 56px;

	padding-top: 20px;
	
}

.tab_4 li{
	float: left;
	margin-left: 50px;
}

.tab_4 a{
	font-size: 18px;
	color: black;
}

.tab_4 a:hover{
	border-bottom: 1px #00B38A solid;
	
}

#container{
	width: 1024px;
	margin: 35px auto 0;
	padding-bottom: 100px;


}

#left{
	width: 230px;
	float: left;
	color: #555;
}

#right{
	width: 744px;
	float: right;

}

.catigory_box{
	background-color: #FAFAFA;

	line-height: 26px;
	position: relative;
}

.menu_main_focus{
	position: relative;
	background-color: white;
	border: 2px solid #c9cbce;
	border-right: 0;
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	z-index: 100;
}

.menu_main{
	padding-top: 20px;
	padding-left: 20px;
	width: 100%;
	position: relative;
	z-index: 100;
}

.menu_sub{
	width: 604px;
	position: absolute;
	left: 228px;
	border: 2px solid #c9cbce;
	z-index: 99;
	background: white;
	padding: 15px 30px 5px;
	display: none;
}

.menu_sub_test
{
	width: 604px;
	position: absolute;
	left: 228px;
	border: 2px solid #c9cbce;
	z-index: 99;
	background: white;
	padding: 15px 30px 5px;
}
.catigory_box h1{
	font-size: 18px;
}

.c1{
	width: 540px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-left: 8px;
	clear: both;
}

.c1_left{
	float:left;
	width: 90px;

}

.c1_right{
	float: right;
	width: 420px;
	overflow: hidden;
}

.c1 span{
	text-decoration: underline;	
}

.c1 a{
	line-height: 28px;
	display: inline-block;
}

.c1 a:hover{
	color: #00B38A;	
	text-decoration: underline;
}

.subscribe{
	margin-top: 20px;
	padding: 13px 0 10px 43px;
	background-color: #FAFAFA;
	border-bottom: 2px #00B38A solid;
}

.subscribe h1 {
	color: #555;	
}

.arr{
	width: 21px;
	height: 20px;
	background: url(../img/arr_btn_c46d8e5.png) no-repeat 0 -19px;
	display: inline-block;
}

#search_box{
	width: 590px;
	height: 37px;
	border: 2px solid #00B38A;
	padding: 5px 8px 5px 10px;
	font-size: 16px;
	float: left;
}

#search_button{
	height: 37px;
	width: 150px;
	color: white;
	font-size: 18px;
	border: 2px solid #00B38A;
	background-color: #00B38A;
	float: left;
}

.hotsearch{
	margin-top: 40px;
	margin-bottom: 18px;
	line-height: 22px;
}

.hotsearch a{
	color: #00B38A;
	font-weight: bold;
}

.hotsearch a:hover{
	text-decoration: underline;
}

.thumbs{
	position: absolute;	
	top: 0;
	left: 617px;
}

#control_tab{
	position: absolute;	
	top: 0px;
	left: -5px;
}

.thumbs li{
	margin-bottom: 5px;

	border: 4px #d3d3d3 solid ;
	display: block;
}

.home_banner {
    width: 744px;
    height: 160px;
    position: relative;
    margin: 0 0 18px;
    overflow: hidden;
}

.banner_bg{
	position: relative;
	
}
.banner_bg li{
	height: 160px;
	cursor: pointer;
}

.da-thumbs{
	margin-bottom: 25px;
	width: 744px;
	height: 118px;
}

.da-thumbs li{
	float: left;
	margin-right: 7px;	
	border: 2px solid #fafafa;
}

.da-thumbs img{
	width: 113px;
	height: 113px;
}

.job_tab{
	width: 744px;
	height: 39px;
	background-color: #f6f6f6;
	font-size: 18px;
}

.hotjob{
	width: 112px;
	height: 39px;
	background-color: white;
	border-top: 2px solid #00B38A;
	display: inline-block;
	padding: 7px 20px;
}

.latestjob{
	width: 112px;
	height: 39px;

	display: inline-block;
	padding: 7px 20px;
}

.pli_top{
	height: 62px;
	width: 729px;
	margin-top: 22px;
	margin-left: 15px;
}

.pli_left{
	height: 62px;
	width: 400px;
	margin-right: 20px;

	float: left;
}

.pli_right{
	height: 62px;
	width: 309px;
	float: right;
}

.pli_btm{
	height: 39px;
	width: 744px;
	background-color:#FAFAFA ;
}

.pli_btm{
	border-bottom: 1px dashed #e1e1e1;
}

.pli_top h1{
	font-size: 16px;
	color: #00B38A;
	font-weight: bold;
	display: inline-block;
}

.pli_top h2{
	font-size: 16px;
	color: #fa6041;
	margin-right: 20px;
	margin-right: 20px;
	display: inline-block;
}

.position_name{
	height: 34px;
	width: 400px;

}

.release_time{
	color: #999;
	margin-left: 14px;

}

.salary{
	width: 400px;
	height: 22px;
}

.welfare{
	float: left;
	padding-left: 15px;
	padding-right: 20px ;
	line-height: 39px;
}

.wf{
	float: right;	
	height: 32px;
	width: 309px;
	padding-top: 8px;
}

.wf span{
	border: 1px solid #dcdcdc;
	height: 22px;
	margin-right: 10px ;
	padding: 3px 6px;
	line-height: 22px;
}

.list_more{
	font-size: 16px;
	color: white;
	background: #00B38A url(../img/arrow_5d2c3a8.png) 88px center no-repeat;
	padding: 5px 40px 5px 15px;
	margin: 10px 0 0;
	margin-top: 25px;
	float: right;
	line-height: 22px;
}

#backtop{
	display: none;
	background: url(../img/backtop_4d5862f.png) left top no-repeat;
	width: 28px;
    height: 64px;
    position: fixed;
    left: 50%;
    margin-left: 548px;
    cursor: pointer;
    bottom: 140px;
}

#backtop:hover{
	background: url(../img/backtop_4d5862f.png) -28px 0 no-repeat;
}

#product-fk{
    width: 50px;
    height: 50px;
    position: fixed;
    left: 50%;
    bottom: 80px;
    margin-left: 538px;
    cursor: pointer;
    z-index: 21;
    line-height: 22px;
    overflow:  visible;
}

#feedback-icon{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background: url(../img/feedback_06c5af9.png) left center no-repeat;
    background-position: 0 0;
    position: relative;
}

#feedback-icon:hover{
	background-position: 0 -31px;
}

#feedback-icon span {
    font-size: 10px;
    color: #555;
    display: block;
    width: 48px;
    position: absolute;
    top: 32px;
    left: -8px;
}

.link_showbox{
	height: 90px;
	padding-top: 15px;
	margin-top: 80px;
	border-top: 1px solid #ececed;
	line-height: 22px;
}

.link_showbox h1{
	display: inline-block;
}
.link_showbox a{
	font-size: 12px;
	line-height: 15px;
}

.link_showbox a:hover{
	color: #00B38A;
	text-decoration: underline;
}

#footer{
	position: relative;
	height: 67px;
	border-top: 1px solid #ebebeb;
    z-index: 999;
    line-height: 22px;
    clear: both;
}

.wrapper{
	width: 1024px;
	height: 67px;
	margin: 0 auto;
	clear: both;
}

.wrapper img{
	margin-top: 9px;
}

.linkbox{
	float: right;
	color: #555;
}

.linkbox a{
	color: #555;
	margin-right: 10px;	
}

.linkbox img{
	position: relative;
	top: 3px;
}

.copyright{
	position: relative;
	top: -6px;
	margin-left: 300px;
}

.copyright span{
	
	color: #d5d5d5;
}

.shade{
	background: #666;
	opacity: 0.9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
	cursor: pointer;
}

.city_selectbox{
	width: 528px;
	height: 518px;
	position: absolute;
	left: 408px;
	top: 76px;
	background: white;
	border: 5px solid #555;
	display: none;
	z-index: 10000;
}

.city_bar{
	height: 50px;
	background-color: #00B38A;
	padding-top: 10px;
	padding-left: 15px;
	color: white;
	font-size: 18px;
	line-height: 30px;
}

.city_bar img{
	float: right;
	margin-right: 10px;
	margin-top: 6px;	
	cursor: pointer;
}

.changecity_box{
	height: 380px;
	width: 423px;
	margin: 30px auto 0;
	
}

.changecity_header{
	height: 93px;
	border-bottom: 1px dotted #e5e5e5;
}

.changecity_header h1{
	font-size: 20px;
}

.tip{
	height: 42px;
	padding-top: 10px;
	font-size: 16px;
}

.checkTips{

	padding: 26px 0 14px;
}

.checkTips a{
	display: inline-block;
	width: 98px;
	height: 48px;
	color: black;
	margin: 0 12px;
	font-size: 16px;
	border: 2px solid #00b38a;
	text-align: center;
	padding-top: 14px;
}

.cf{
	margin-left: 24px;
	display: block;
}

.cf li{
	float: left;
	width: 102px;
	margin: 11px 12px;
}

.cf a{
	font-size: 16px;
	display: inline-block;
	width: 100px;
	height: 50px;
	color: #999;
	text-align: center;
	line-height: 50px;
	border: 1px solid #DCDCDC;
	
}

.cf a:hover{
	border: 1px solid #00B38A;	
}

.clear_b{
	clear: both;
	display: block;
}

.logintool_bar1{
	height: 64px;
	width: 100%;
	position: relative;
	clear: both;
	background: url(../img/footerbar_repeat_c5aebac.png) repeat-x ;
	padding-left: 52px;
	
}

.logintool_bar{
	height: 64px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: url(../img/footerbar_repeat_c5aebac.png) repeat-x ;
	padding-left: 52px;
	z-index: 1000;
}

.home{
	position: absolute;
	top: -54px;
	left: 52px;
}

.register_right{
	float: right;
	width: 212px;
	height: 64px;
	background: url(../img/footbar_btn_red_hover_8c30256.png) repeat-x;
	padding-left:  46px;
	padding-top: 20px;	
}

.login_left{
	float: right;
	width: 142px;
	height: 64px;
	background: url(../img/footbar_btn_green_hover_e17c99f.png) repeat-x;
	padding-left:  46px;
	padding-top: 20px;
}
