*{
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-decoration: none;
}

a{
	color: #00B38A;
}

.gw{
	color: #777777;	
}

#bd{
	position: relative;	
}

.gbg{
	width: 100%;
	height: 320px;
	background-color:#00B38A ;
	overflow: hidden;
}

.gbg img{
	margin-top: 70px;
	margin-left: 120px;
}

#main{
	width: 662px;
	height: 524px;
	border: 3px #FAFAFA solid;
	position: relative;
	bottom: 170px;
	margin: 0 auto;
	background: white;
	padding-top: 52px;
	padding-left: 58px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          
}

.left{
	
	float: left;

	width: 300px;
	
}

.16w{
	font-size: 16px;
}

.lactive{
	width: 150px;
	height: 30px;
	display: inline-block;	
	
	
}
.active{
	width: 150px;
	height: 30px;
	display: inline-block;	
	border-bottom: 1px #00B38A solid;
}

.hint{
	position: relative;
	top: 4px;
	color: #FD5F39;
	height: 17px;
	line-height: 19px;
	display: none;
	background: url(../img/info_5a35a92.png) no-repeat left center;
}

.left li{
	float: left;
	list-style-type: none;
}

.left a{
	color: black;
	font-weight: bold;
}

.Gw{
	color: #00B38A;
}

.TEXT{
	outline: none;
	width: 300px;
	height: 46px;
	background-color: #F8F8F8;
	border: hidden;
	padding: 18px 0 18px 12px;
	color: #B5B5B5;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;	
}

.zhao{
	width: 140px;
	height: 46px;
	border: 1px #DCE4E6 solid;	
	position: relative;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.fr{
	float: right;	
}

.Absolute-Center{
	height: 14px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}
.mt20{
	margin-top: 20px;
}

#proto{
	color: #00B38A;	
}

#proto:hover{
	text-decoration: underline;	
}

.checkcontainer_active{
		height: 13px;
		width: 13px;
		background: url(../img/checkbox_e13d654.png) no-repeat -14px 0;
		display: inline-block;
}

.checkcontainer_normal{
		height: 13px;
		width: 13px;
		background: url(../img/checkbox_e13d654.png) no-repeat 0 0;
		display: inline-block;
}

#checkb{
	opacity: 0;
}


.mt30{
	margin-top: 30px;	
}

.btn_login{
	background: #00B38A;
	width: 300px;
	height: 46px;
	border: none;
	font-size: 18px;
	color: white;
	cursor: pointer;
}
.icon_top{
	vertical-align: -2px;
}

.right{
	/*background: gold;*/
	float: right;
	height: 415px;
	width: 250px;
	border-left: 2px #EDEDED dotted;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ml{
	margin-left: 54px;	
}

.ll{
	margin-top: 30px;
}

.register{
	font-size: 16px;
	font-weight: bold;
}

.icon_login{
	
	margin-top: 10px;
}

.QR_code{
	width: 124px;
	height: 124px;
	margin-left: 45px;
	margin-top: 45px;
}

.saoma{
	font-size: 12px;
	color: #888888;
}
.footwords{
	color: #D1D9E5;
	margin: 50px auto;
	position: absolute;
	bottom: -100px;
	left: 238px;
	font-size: 16px;
	font-weight: bold;
}
