<div class="span3">
    <div class="data_list">
        <div class="data_list_title">
            <img src="/img/user_icon.png"/>
            个人中心
        </div>
        <div class="user_image">
            <img src="/faces/20140224085322.jpg"/>
        </div>
        <div class="nickName">苦逼屌丝22332233</div>
        <div class="userSign">(生活是一种态度。222333333332


            )
        </div>
    </div>

    <div class="data_list">
        <div class="data_list_title">
            <img src="/img/byType_icon.png"/>
            按日志类别
        </div>
        <div class="datas">
            <ul>

                <li><span><a href="main?s_typeId=6">AABB(0)</a></span></li>

                <li><span><a href="main?s_typeId=4">人生感叹(8)</a></span></li>

                <li><span><a href="main?s_typeId=3">学习类(3)</a></span></li>

                <li><span><a href="main?s_typeId=1">工作类(10)</a></span></li>

                <li><span><a href="main?s_typeId=7">是(0)</a></span></li>

                <li><span><a href="main?s_typeId=5">测试(0)</a></span></li>

                <li><span><a href="main?s_typeId=2">生活类(6)</a></span></li>

            </ul>
        </div>
    </div>

    <div class="data_list">
        <div class="data_list_title">
            <img src="/img/byDate_icon.png"/>
            按日志日期
        </div>
        <div class="datas">
            <ul>

                <li><span><a href="main?s_releaseDateStr=2014年02月">2014年02月(2)</a></span></li>

                <li><span><a href="main?s_releaseDateStr=2014年01月">2014年01月(12)</a></span></li>

                <li><span><a href="main?s_releaseDateStr=2013年11月">2013年11月(1)</a></span></li>

                <li><span><a href="main?s_releaseDateStr=2013年10月">2013年10月(1)</a></span></li>

                <li><span><a href="main?s_releaseDateStr=2013年01月">2013年01月(11)</a></span></li>

            </ul>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>