<% include ./common/top.ejs %>

<script type="text/javascript">
	function checkForm(){
		var title=document.getElementById("title").value;
		var content=CKEDITOR.instances.content.getData();
		var typeId=document.getElementById("typeId").value;
		if(title==null||title==""){
			document.getElementById("error").innerHTML="标题不能为空！";
			return false;
		}
		if(content==null||content==""){
			document.getElementById("error").innerHTML="内容不能为空！";
			return false;
		}
		if(typeId==null||typeId==""){
			document.getElementById("error").innerHTML="请选择日志类别！";
			return false;
		}
		return true;
	}
</script>
<div class="data_list">
		<div class="data_list_title">
		
			<img src="/img/diary_add_icon.png"/>
				写日记</div>
		
		<form action="/diary/save" method="post" onsubmit="return checkForm()">
			<div>
				<div class="diary_title"><input type="text" id="title"  name="title" value="" class="input-xlarge"  style="margin-top:5px;height:30px;"  placeholder="日志标题..."/></div>
				<div>
					<textarea class="ckeditor" id="content" name="content"></textarea>
				</div>
				<div class="diary_type">
					<select id="typeId" name="typeId">
						<option value="">请选择日志类别...</option>
						
						<option value="6" >AB</option>
						
						<option value="4" >人生感叹</option>
						
						<option value="3" >学习类</option>
						
						<option value="1" >工作类</option>
						
						<option value="7" >是</option>
						
						<option value="5" >测试</option>
						
						<option value="2" >生活类</option>
						
						<option value="8" >试用</option>
						
					</select>
				</div>
				<div>
					<input type="hidden" id="diaryId" name="diaryId" value="-1"/>
					<input type="submit" class="btn btn-primary" value="保存"/>
					<button class="btn btn-primary" type="button" onclick="javascript:history.back()">返回</button>
					<font id="error" color="red"></font>  
				</div>
			</div>
		</form>
</div>

<% include ./common/bottom.ejs %>